n8n-workflow/fl-parcel-lookup-workflow.json
{
  "name": "FL Parcel Address Lookup",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nconst allGrantees = (item.grantee_name || '').split('\\n').map(n => n.trim()).filter(Boolean);\nconst primaryGrantee = allGrantees[0] || '';\n\nlet legalDesc = item.legal_description || '';\nlet subdivisionName = legalDesc\n  .replace(/^Lot:\\s*\\S+\\s*/i, '')\n  .replace(/^Block:\\s*\\S+\\s*/i, '')\n  .replace(/^TS:\\s*/i, '')\n  .replace(/^REPLAT OF\\s*/i, '')\n  .trim();\n\nconst COUNTY_NUMBERS = {\n  'orange': 58\n};\nconst countyName = (item.county || 'orange').toLowerCase();\nconst countyNumber = COUNTY_NUMBERS[countyName];\n\nif (!countyNumber) {\n  return {\n    json: {\n      ...item,\n      error: `Unknown county: ${countyName}. Add it to COUNTY_NUMBERS.`,\n      property_address: null,\n      lookup_status: 'error'\n    }\n  };\n}\n\nconst baseUrl = 'https://services9.arcgis.com/Gh9awoU677aKree0/arcgis/rest/services/Florida_Statewide_Cadastral/FeatureServer/0/query';\nconst exactWhere = `CO_NO=${countyNumber}+AND+OWN_NAME='${primaryGrantee}'`;\nconst outFields = 'PARCELNO,OWN_NAME,PHY_ADDR1,PHY_CITY,PHY_ZIPCD,S_LEGAL';\nconst exactUrl = `${baseUrl}?where=${exactWhere}&outFields=${outFields}&returnGeometry=false&f=json`;\n\nreturn {\n  json: {\n    ...item,\n    primaryGrantee,\n    allGrantees,\n    subdivisionName,\n    countyNumber,\n    queryUrl: exactUrl,\n    lookup_status: 'pending'\n  }\n};"
      },
      "id": "prep-query",
      "name": "Prep Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.queryUrl }}",
        "options": {}
      },
      "id": "exact-match-http",
      "name": "Exact Match Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.features.length }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "No Results"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.features.length }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "One Result"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.features.length }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Multiple Results"
            }
          ]
        },
        "options": {}
      },
      "id": "route-results",
      "name": "Route Results",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prepData = $('Prep Query').item.json;\nconst feature = $input.item.json.features[0];\nconst addr = feature.attributes;\n\nreturn {\n  json: {\n    ...prepData,\n    property_address: addr.PHY_ADDR1 ? addr.PHY_ADDR1.trim() : '',\n    property_city: addr.PHY_CITY ? addr.PHY_CITY.trim() : '',\n    property_zip: addr.PHY_ZIPCD || '',\n    parcel_number: addr.PARCELNO || '',\n    owner_name_on_parcel: addr.OWN_NAME || '',\n    parcel_legal: addr.S_LEGAL || '',\n    match_score: null,\n    total_results: 1,\n    lookup_status: 'matched',\n    match_method: 'exact_name'\n  }\n};"
      },
      "id": "extract-single",
      "name": "Extract Single Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prepData = $('Prep Query').item.json;\nconst features = $input.item.json.features || [];\nconst subdivisionName = prepData.subdivisionName.toUpperCase();\n\nconst keywords = subdivisionName\n  .split(/\\s+/)\n  .filter(w => w.length >= 2 && !/^\\d+$/.test(w));\n\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const feature of features) {\n  const sLegal = (feature.attributes.S_LEGAL || '').toUpperCase();\n  let score = 0;\n  for (const keyword of keywords) {\n    if (sLegal.includes(keyword)) {\n      score++;\n    }\n  }\n  if (score > bestScore) {\n    bestScore = score;\n    bestMatch = feature;\n  }\n}\n\nif (bestMatch && bestScore >= 1) {\n  const addr = bestMatch.attributes;\n  return {\n    json: {\n      ...prepData,\n      property_address: addr.PHY_ADDR1 ? addr.PHY_ADDR1.trim() : '',\n      property_city: addr.PHY_CITY ? addr.PHY_CITY.trim() : '',\n      property_zip: addr.PHY_ZIPCD || '',\n      parcel_number: addr.PARCELNO || '',\n      owner_name_on_parcel: addr.OWN_NAME || '',\n      parcel_legal: addr.S_LEGAL || '',\n      match_score: bestScore,\n      total_keywords: keywords.length,\n      total_results: features.length,\n      lookup_status: 'matched',\n      match_method: 'legal_description'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...prepData,\n    property_address: null,\n    total_results: features.length,\n    lookup_status: 'no_legal_match',\n    match_method: 'failed'\n  }\n};"
      },
      "id": "match-legal",
      "name": "Match Legal Description",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 520]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prepData = $('Prep Query').item.json;\nconst primaryGrantee = prepData.primaryGrantee;\n\nconst PREFIXES_TO_STRIP = ['DE', 'DEL', 'DELA', 'DI', 'VAN', 'VON', 'LA', 'LE', 'MC', 'ST'];\n\nconst nameParts = primaryGrantee.split(/\\s+/).filter(Boolean);\n\nlet surname = nameParts[0];\nif (nameParts.length >= 2 && PREFIXES_TO_STRIP.includes(nameParts[0].toUpperCase())) {\n  surname = nameParts[1];\n}\n\nconst baseUrl = 'https://services9.arcgis.com/Gh9awoU677aKree0/arcgis/rest/services/Florida_Statewide_Cadastral/FeatureServer/0/query';\nconst countyNumber = prepData.countyNumber;\nconst likeWhere = `CO_NO=${countyNumber}+AND+OWN_NAME+LIKE+'%25${surname}%25'`;\nconst outFields = 'PARCELNO,OWN_NAME,PHY_ADDR1,PHY_CITY,PHY_ZIPCD,S_LEGAL';\nconst likeUrl = `${baseUrl}?where=${likeWhere}&outFields=${outFields}&resultRecordCount=20&returnGeometry=false&f=json`;\n\nreturn {\n  json: {\n    ...prepData,\n    retryingSurname: surname,\n    queryUrl: likeUrl,\n    lookup_status: 'retrying_like'\n  }\n};"
      },
      "id": "prep-like-retry",
      "name": "Prep LIKE Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 80]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.queryUrl }}",
        "options": {}
      },
      "id": "like-query-http",
      "name": "LIKE Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 80]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.features.length }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "No Results"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.features.length }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "One Result"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.features.length }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Multiple Results"
            }
          ]
        },
        "options": {}
      },
      "id": "route-like-results",
      "name": "Route LIKE Results",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1320, 80]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prepData = $('Prep LIKE Retry').item.json;\nconst feature = $input.item.json.features[0];\nconst addr = feature.attributes;\n\nreturn {\n  json: {\n    ...prepData,\n    property_address: addr.PHY_ADDR1 ? addr.PHY_ADDR1.trim() : '',\n    property_city: addr.PHY_CITY ? addr.PHY_CITY.trim() : '',\n    property_zip: addr.PHY_ZIPCD || '',\n    parcel_number: addr.PARCELNO || '',\n    owner_name_on_parcel: addr.OWN_NAME || '',\n    parcel_legal: addr.S_LEGAL || '',\n    match_score: null,\n    total_results: 1,\n    lookup_status: 'matched',\n    match_method: 'like_single'\n  }\n};"
      },
      "id": "extract-single-like",
      "name": "Extract Single LIKE Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 80]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prepData = $('Prep LIKE Retry').item.json;\nconst features = $input.item.json.features || [];\nconst subdivisionName = prepData.subdivisionName.toUpperCase();\n\nconst keywords = subdivisionName\n  .split(/\\s+/)\n  .filter(w => w.length >= 2 && !/^\\d+$/.test(w));\n\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const feature of features) {\n  const sLegal = (feature.attributes.S_LEGAL || '').toUpperCase();\n  let score = 0;\n  for (const keyword of keywords) {\n    if (sLegal.includes(keyword)) {\n      score++;\n    }\n  }\n  if (score > bestScore) {\n    bestScore = score;\n    bestMatch = feature;\n  }\n}\n\nif (bestMatch && bestScore >= 1) {\n  const addr = bestMatch.attributes;\n  return {\n    json: {\n      ...prepData,\n      property_address: addr.PHY_ADDR1 ? addr.PHY_ADDR1.trim() : '',\n      property_city: addr.PHY_CITY ? addr.PHY_CITY.trim() : '',\n      property_zip: addr.PHY_ZIPCD || '',\n      parcel_number: addr.PARCELNO || '',\n      owner_name_on_parcel: addr.OWN_NAME || '',\n      parcel_legal: addr.S_LEGAL || '',\n      match_score: bestScore,\n      total_keywords: keywords.length,\n      total_results: features.length,\n      lookup_status: 'matched',\n      match_method: 'like_legal_description'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...prepData,\n    property_address: null,\n    total_results: features.length,\n    lookup_status: 'no_match_found',\n    match_method: 'failed'\n  }\n};"
      },
      "id": "match-legal-like",
      "name": "Match Legal LIKE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let prepData;\ntry {\n  prepData = $('Prep LIKE Retry').item.json;\n} catch (e) {\n  prepData = $('Prep Query').item.json;\n}\n\nreturn {\n  json: {\n    ...prepData,\n    property_address: null,\n    property_city: null,\n    property_zip: null,\n    parcel_number: null,\n    lookup_status: 'not_found',\n    match_method: 'exhausted'\n  }\n};"
      },
      "id": "flag-no-match",
      "name": "Flag No Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -140]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-matched",
      "name": "Merge Matched",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "const allContacts = [];\n\nconst CORP_KEYWORDS = [\n  'LLC', 'INC', 'CORP', 'CORPORATION', 'ASSOCIATION', 'BANK', 'TRUST',\n  'SECRETARY OF', 'DEPARTMENT OF', 'HOUSING AUTHORITY', 'FINANCE',\n  'MORTGAGE', 'LENDING', 'SERVICES', 'HOLDINGS', 'PROPERTIES',\n  'VENTURES', 'ENTERPRISES', 'GROUP', 'PARTNERS', 'FUND',\n  'COUNTY', 'STATE OF', 'CITY OF', 'HOMEOWNERS', 'HOA',\n  'PURCHASING', 'INVESTMENTS', 'NATIONAL', 'FEDERAL',\n  'COMPANY', 'SAVINGS', 'PLAN'\n];\n\nconst NAME_PREFIXES = ['DE', 'DEL', 'DELA', 'DI', 'VAN', 'VON', 'LA', 'LE', 'MC', 'ST'];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  // FILTER 1: Skip items without a matched address\n  if (!data.property_address || data.lookup_status !== 'matched') {\n    continue;\n  }\n\n  // FILTER 2: Skip timeshare filings\n  const legalDesc = (data.legal_description || '').trim();\n  if (/^TS:/i.test(legalDesc)) {\n    continue;\n  }\n\n  // VALIDATE: Check for possible wrong single-result matches\n  let matchWarning = '';\n  if (data.match_method === 'exact_name' && data.total_results === 1) {\n    const subdivisionName = (data.subdivisionName || '').toUpperCase();\n    const parcelLegal = (data.parcel_legal || '').toUpperCase();\n    const subKeywords = subdivisionName.split(/\\s+/)\n      .filter(w => w.length >= 4 && !/^\\d+$/.test(w));\n    if (subKeywords.length > 0) {\n      const anyMatch = subKeywords.some(kw => parcelLegal.includes(kw));\n      if (!anyMatch) {\n        matchWarning = ' [ADDRESS UNVERIFIED - parcel legal desc does not match filing]';\n      }\n    }\n  }\n\n  const grantees = data.allGrantees || [];\n\n  for (const name of grantees) {\n    const upperName = name.toUpperCase().trim();\n    const isCorp = CORP_KEYWORDS.some(kw => upperName.includes(kw));\n    if (isCorp) continue;\n    if (!upperName || upperName.length < 2) continue;\n    const parts = upperName.split(/\\s+/).filter(Boolean);\n    if (parts.length === 1) continue;\n\n    let firstName = '';\n    let lastName = '';\n\n    if (parts.length >= 3 && NAME_PREFIXES.includes(parts[0])) {\n      lastName = parts[0] + ' ' + parts[1];\n      firstName = parts[2];\n    } else if (parts.length === 2) {\n      lastName = parts[0];\n      firstName = parts[1];\n    } else {\n      lastName = parts[0];\n      firstName = parts[1];\n    }\n\n    allContacts.push({\n      json: {\n        document_number: data.document_number || '',\n        document_type: data.document_type || '',\n        recording_date: data.recording_date || '',\n        grantor_name: data.grantor_name || '',\n        legal_description: data.legal_description || '',\n        grantee_name: name,\n        property_address: data.property_address || '',\n        property_city: data.property_city || '',\n        property_zip: data.property_zip ? String(data.property_zip) : '',\n        first_name: firstName,\n        last_name: lastName,\n        property_state: 'FL',\n        match_method: data.match_method || '',\n        match_warning: matchWarning\n      }\n    });\n  }\n}\n\nreturn allContacts;"
      },
      "id": "prep-contacts",
      "name": "Prep Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Prep Query", "type": "main", "index": 0 }]
      ]
    },
    "Prep Query": {
      "main": [
        [{ "node": "Exact Match Query", "type": "main", "index": 0 }]
      ]
    },
    "Exact Match Query": {
      "main": [
        [{ "node": "Route Results", "type": "main", "index": 0 }]
      ]
    },
    "Route Results": {
      "main": [
        [{ "node": "Prep LIKE Retry", "type": "main", "index": 0 }],
        [{ "node": "Extract Single Result", "type": "main", "index": 0 }],
        [{ "node": "Match Legal Description", "type": "main", "index": 0 }]
      ]
    },
    "Extract Single Result": {
      "main": [
        [{ "node": "Merge Matched", "type": "main", "index": 0 }]
      ]
    },
    "Match Legal Description": {
      "main": [
        [{ "node": "Merge Matched", "type": "main", "index": 0 }]
      ]
    },
    "Prep LIKE Retry": {
      "main": [
        [{ "node": "LIKE Query", "type": "main", "index": 0 }]
      ]
    },
    "LIKE Query": {
      "main": [
        [{ "node": "Route LIKE Results", "type": "main", "index": 0 }]
      ]
    },
    "Route LIKE Results": {
      "main": [
        [{ "node": "Flag No Match", "type": "main", "index": 0 }],
        [{ "node": "Extract Single LIKE Result", "type": "main", "index": 0 }],
        [{ "node": "Match Legal LIKE", "type": "main", "index": 0 }]
      ]
    },
    "Extract Single LIKE Result": {
      "main": [
        [{ "node": "Merge Matched", "type": "main", "index": 0 }]
      ]
    },
    "Match Legal LIKE": {
      "main": [
        [{ "node": "Merge Matched", "type": "main", "index": 0 }]
      ]
    },
    "Merge Matched": {
      "main": [
        [{ "node": "Prep Contacts", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
